@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #bad6ed;
}

header {
    background-color: #bad6ed;
    padding: 0 15px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header > h1 {
    font-family: Dramaturgo Cuba;
    font-size: 1.3rem;
    font-weight: 700;
    color: #000000;
}
 
nav {
   
    padding: 10px;
    text-align: center;
}
 
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
 
nav li {
    margin-right: 20px;
}
 
nav li:last-child {
    margin-right: 0;
}
 
nav a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
}
 
nav a:hover {
    color: #ccc;
}

footer {
    background-color: #7092af;
    padding: 20px;
    text-align: center;
}

.social-links{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
.icon-whatssap{
    height: 45px;
}

/* Estilo do quadrado azul ao redor do texto */
.sobre-mim {
    background-color: #7092af; /* Azul para o quadrado */
    color: #fff; /* Cor do texto em branco */
    padding: 20px; /* Espaço interno ao redor do texto */
    border-radius: 10px; /* Bordas arredondadas (opcional) */
    max-width: 600px; /* Largura máxima do quadrado */
    margin: 20px auto; /* Centraliza horizontalmente e adiciona espaço acima e abaixo */
}

/* Estilo para o header e navegação */
/* header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
} */

/* nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
} */

/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
} */

/* .social-links {
    margin-bottom: 10px;
} */

/* .icon-whatssap {
    width: 30px;
    height: 30px;
} */

.footer-copyright {
    margin: 0;
}

.minha-foto {
    width: 40%;
    margin-right: 30px;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    width: 70%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre-mim p {
    text-align: justify;
    padding: 30px;
}