@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #bad6ed;
}

header {
    background-color: #bad6ed;
    padding: 0 15px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header > h1 {
    font-family:Dramaturgo Cuba;
    font-size: 1.3rem;
    font-weight: 700;
    color: #000000;
}
 
nav {
   
    padding: 10px;
    text-align: center;
}
 
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
 
nav li {
    margin-right: 20px;
}
 
nav li:last-child {
    margin-right: 0;
}
 
nav a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
}
 
nav a:hover {
    color: #ccc;
}

footer {
    background-color: #7092af;
    padding: 20px;
    text-align: center;
}

.social-links{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
.icon-whatssap{
    height: 45px;
}

.imagem-3x4 {
    width: 400px; /* Largura das imagens (ajustar conforme necessário) */
    height: 500px; /* Altura das imagens (ajustar conforme necessário) */
    object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorção */
    border-radius: 8px; /* Bordas arredondadas (opcional) */
    transition: transform 0.3s ease; /* Suaviza o efeito de transformação */
}

.imagem-3x4:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% ao passar o mouse */
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre as imagens */
    justify-content: center; /* Centraliza as imagens horizontalmente */
    margin-top: 20px; /* Espaço entre o título e as imagens */
    margin-bottom: 60px; /* Espaço entre as imagens e o rodapé */
}